@import url("https://fonts.googleapis.com/css?family=Archivo|Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  z-index: 9;
  position: fixed;
  top: 0px;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
  transition: 0.2s;
  color: black;
}
header a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
header .logo {
  position: relative;
}
header .logo img {
  min-width: 140px;
  width: 10vw;
  max-width: 160px;
}
header .logo .logo--white {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
header .logo .logo--black {
  opacity: 1;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header nav ul:hover li a {
  transition: 0.2s;
}
header nav ul li {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul li a {
  display: block;
  padding: 8px 16px;
}
header nav ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  background: #E6E6E8;
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
  }
  header nav ul li a {
    padding: 16px 4px;
  }
}

.header--light {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0);
}
.header--light .logo .logo--black {
  opacity: 0;
}
.header--light .logo .logo--white {
  opacity: 1;
}
.header--light:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
  color: black;
  background-color: white;
}
.header--light:hover .logo .logo--black {
  opacity: 1;
}
.header--light:hover .logo .logo--white {
  opacity: 0;
}

.dropdown {
  position: relative;
}
.dropdown > .dropdown__content {
  display: none;
}
.dropdown:hover > .dropdown__content {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.dropdown:hover > .dropdown__content a {
  z-index: 20;
  background: white;
}
.dropdown:hover > .dropdown__content a:hover {
  background: #E6E6E8;
}
.dropdown:hover > .dropdown__content a:last-of-type {
  border-radius: 0px 0px 4px 4px;
}

footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer a {
  letter-spacing: 1px;
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
footer a:hover {
  color: #d43a3b;
}
footer ul {
  display: flex;
}
footer ul li {
  margin: 16px;
}

body {
  background-color: #ffffff;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  margin: 16px 0px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

p {
  margin: 16px 0px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.accent-button {
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background: #C82C2D;
  padding: 8px 16px;
  letter-spacing: 0.5px;
  border: 4px #C82C2D solid;
  transition: 0.2s;
}
.accent-button:hover {
  cursor: pointer;
  background: #dd6464;
  border: 4px #dd6464 solid;
}

.link--active {
  color: #dd6464;
}

.home__splash {
  background-image: url("./images/home_splash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.home__splash h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 64px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.home__splash p {
  font-family: "Archivo", sans-serif;
  letter-spacing: 2px;
  color: white;
  font-size: 2.5em;
  margin-bottom: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.home__splash .call-to-action {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home__splash .call-to-action .button--empty {
  margin: 16px;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0);
  padding: 8px 32px;
  letter-spacing: 2px;
  border: 4px white solid;
  transition: 0.3s;
}
.home__splash .call-to-action .button--empty:hover {
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.1s;
}
.home__splash .call-to-action .button--filled {
  margin: 16px;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background: #C82C2D;
  padding: 8px 32px;
  letter-spacing: 2px;
  border: 4px #C82C2D solid;
  transition: 0.2s;
}
.home__splash .call-to-action .button--filled:hover {
  cursor: pointer;
  background: #dd6464;
  border: 4px #dd6464 solid;
}

.home__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}
.home__info h3 {
  font-weight: bold;
  letter-spacing: 1px;
}

.home__black {
  display: flex;
  padding-top: 128px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}
.product h3 {
  letter-spacing: 2px;
  font-size: 20px;
}
.product img {
  width: 80%;
  min-width: 220px;
  box-sizing: border-box;
  max-width: 500px;
  transform: scale(0.9);
  transition: 0.2s;
  margin-bottom: 64px;
}
.product img:hover {
  transform: scale(1);
  cursor: pointer;
}
.product p {
  max-width: 300px;
  text-align: center;
  line-height: 1.3em;
}

.hex-block {
  background: #FAFAFA;
  max-width: 800px;
  margin: 64px auto;
  display: flex;
  align-items: center;
  clip-path: polygon(96% 0, 100% 50%, 96% 100%, 4% 100%, 0 50%, 4% 0);
}
.hex-block img {
  clip-path: polygon(88% 0, 100% 50%, 88% 100%, 12% 100%, 0 50%, 12% 0);
  width: 200px;
  margin: 16px;
}
.hex-block .hex-text {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-align: center;
}
.hex-block .hex-text h3 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.hex-block .hex-text p {
  line-height: 1.3em;
}
.hex-block .hex-text .accent-button {
  clip-path: polygon(94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
}

.hex-block--reverse {
  flex-direction: row-reverse;
}

.contact_page {
  padding-top: 160px;
}
.contact_page .banner-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
}
.contact_page .banner-image img {
  width: 100%;
  height: auto;
}
.contact_page h2 {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  margin: 32px auto;
  background: black;
  color: white;
  padding: 8px 16px;
  clip-path: polygon(0 0, 100% 0%, 98% 100%, 2% 100%);
}
.contact_page form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  box-sizing: border-box;
}
.contact_page form label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.7);
}
.contact_page form input[type=text], .contact_page form input[type=email], .contact_page form select, .contact_page form textarea {
  max-width: 240px;
  font-size: 17px;
  font-family: inherit;
  outline: none;
  background: inherit;
  padding: 3px 4px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.04);
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.7);
}
.contact_page form input[type=text]:focus, .contact_page form input[type=email]:focus, .contact_page form select:focus, .contact_page form textarea:focus {
  color: black;
  border-bottom-color: #d43a3b;
}
.contact_page form p {
  font-size: 17px;
  font-family: inherit;
}
.contact_page form input[type=submit] {
  background: #C82C2D;
  padding: 8px 0px;
  color: white;
  color: bold;
  clip-path: polygon(0 0, 100% 0%, 98% 100%, 2% 100%);
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background: #C82C2D;
  letter-spacing: 2px;
  border: 4px #C82C2D solid;
  transition: 0.2s;
}
.contact_page form input[type=submit]:hover {
  cursor: pointer;
  background: #dd6464;
  border: 4px #dd6464 solid;
}
.contact_page form select {
  margin-top: 4px;
  margin-bottom: 32px;
}
.contact_page form textarea {
  max-width: none;
  margin-bottom: 32px;
  transition: none;
}
.contact_page form input:not(:last-of-type) {
  margin-bottom: 32px;
}

.product_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding-top: 108px;
}
@media only screen and (max-width: 450px) {
  .product_page {
    padding-top: 148px;
  }
}
@media only screen and (max-width: 260px) {
  .product_page {
    padding-top: 238px;
  }
}
.product_page .product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}
.product_page .product h3 {
  letter-spacing: 2px;
  font-size: 20px;
}
.product_page .product img {
  width: 80%;
  min-width: 220px;
  box-sizing: border-box;
  max-width: 40vw;
  transform: scale(0.9);
  transition: 0.2s;
  margin-bottom: 64px;
}
.product_page .product img:hover {
  transform: scale(1);
  cursor: pointer;
}
.product_page .product p {
  max-width: 300px;
  text-align: center;
  line-height: 1.3em;
}
.product_page .product__row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.product_page .product__row .product {
  min-width: 220px;
  width: 40%;
  box-sizing: border-box;
}

.services_page {
  padding-top: 160px;
}
.services_page .banner-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
}
.services_page .banner-image img {
  width: 100%;
  height: auto;
}
.services_page h2 {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  margin: 32px auto;
  background: black;
  color: white;
  padding: 8px 16px;
  clip-path: polygon(3% 0, 97% 0%, 100% 100%, 0 100%);
}
.services_page .hex-block {
  background: #FAFAFA;
  max-width: 800px;
  margin: 64px auto;
  display: flex;
  align-items: center;
  clip-path: polygon(96% 0, 100% 50%, 96% 100%, 4% 100%, 0 50%, 4% 0);
}
.services_page .hex-block img {
  clip-path: polygon(88% 0, 100% 50%, 88% 100%, 12% 100%, 0 50%, 12% 0);
  width: 200px;
  margin: 16px;
}
.services_page .hex-block .hex-text {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-align: center;
}
.services_page .hex-block .hex-text h3 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.services_page .hex-block .hex-text p {
  line-height: 1.3em;
}
.services_page .hex-block .hex-text .accent-button {
  clip-path: polygon(94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
}
.services_page .hex-block--reverse {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=styles.css.map */
